<footer class="footer">
  <small>
    Vanilla Ruby on Rails App by <a href="http://www.anthonwijnen.com">Anthony Wijnen</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>